@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');
body {
    background-image: url('../images/earth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Sora', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    height: 600px;
    gap: 90px;
    margin-left: 40px;
    margin-top: 200px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.hero h1 {
    font-size: 35px;
    font-weight: 500;
    color: crimson;
    margin-top: -80px;
}

.hero h2 {
    font-size: 25px;
    font-weight: 400;
    color: magenta;
    margin-top: -30px;
}

.two {
    display: flex;
    flex-direction: column;
}

.icon img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.hero p {
    width: 400px;
    font-size: 15px;
    font-weight: 200;
    color: white;
    height: 500px;
}

.app {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 350px;
    background-color: rgb(18, 22, 43);
    border-radius: 10px;
}

.music-image img {
    width: 320px;
    height: 250px;
    border-radius: 15px;
    margin-left: 15px;
    margin-top: 15px;
}

.music {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 350px;
    border-radius: 15px;
    margin-top: -120px;
    border: 5px solid transparent;
    background: linear-gradient(to left, #3498db, #8e44ad);
    transition: border-color 0.3s;
}

.music-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.music-info h3 {
    color: white;
    font-size: 15px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: magenta;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.buttons button.prev,
.buttons button.next {
    border-radius: 0;
    background-color: transparent;
    border: 0;
}

.buttons button img {
    width: 100%;
    height: 100%;
}

.progress-bar {
    position: relative;
    width: 90%;
    height: 7px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 40px;
    border-radius: 5px;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: magenta;
}

.time-info {
    display: flex;
    justify-content: space-between;
    width: 90%;
    color: white;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: -30px;
}

.additional-buttons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 10px;
    flex-direction: row;
}

.additional-buttons img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.additional-buttons button {
    background-color: transparent;
    display: none;
    border: none;
    cursor: pointer;
    outline: none;
}


/* Media query for mobile devices */

@media only screen and (max-width: 768px) {
    body {
        background-image: url('../images/earth.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Sora', sans-serif;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 375px;
    }
    .container {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        height: 900px;
        gap: 30px;
        width: 375px;
    }
    .hero p {
        width: 300px;
    }
    .app {
        height: 450px;
        width: 300px;
    }
    .music {
        height: 450px;
        width: 300px;
        margin-top: -420px;
        margin-left: 10px;
    }
    .music-image img {
        width: 270px;
        height: 230px;
    }
    .music-info h3 {
        font-size: 14px;
        padding-top: 15px;
    }
    .progress-bar {
        margin-top: 30px;
    }
    .time-info {
        width: 80%;
        font-size: 12px;
        margin-top: -20px;
    }
}